# Ignore all other data by default
data/**
notebooks/
conf/

# Include the model and dataset needed for the app

!data/06_models/
!data/01_raw/netflix_titles.csv
!data/01_raw/my_rated_movies.csv

# Ignore cache, logs, and envs
__pycache__/
*.py[cod]
*.log
*.DS_Store
.venv/
.env
my_env/
